<html>
	<head>
		<center> <img src="{{url_for('static', filename='images/HEI_Banner_Logo-2017 -600.jpg') + token_parameter}}" alt="HEI Banner" style="margin-bottom: 50px; margin-top: 20px;"> </center>
		<title>Healthcare Equality Index - Facility ID Lookup</title>
	</head>

	<body style="background-color: #FCFDFF">
		<div class="main_warning" style="text-align: center; font-size: 24px;">
			<p>This page has been discontinued, please visit the Survey Login page for your Training Hours information</p>
		</div>
	</body>
</html>	