<html>
	<head>
		<center> <img src="{{url_for('static', filename='images/HEI_Banner_Logo-2017 -600.jpg') + token_parameter}}" alt="HEI Banner" style="margin-bottom: 50px; margin-top: 20px;"> </center>
		<title> HEI - 2019 Training Hours Completed </title>
	</head>
	<body style="background-color: #FCFDFF">
		<div class="container" style="margin-left: 50px">
			<h3> Enter your Facility ID below to check your training hours: </h3>
			<form action="{{ url_for('training_hours_lookup') + token_parameter }}" method="post">
				<label for:"training_hours_lookup_btn"> Facility ID: </label> <input type="text" name="facility_id"> </input>
				<input class="btn btn-default" type="submit" value="Training Hours Lookup" name="training_hours_lookup_btn">				
			</form>
			<h3 style="margin-top: 70px">Facility Name: {{ account_name }} </h3>
			<p align="left" style="margin-top: 25px"><b>Facility's specific training requirement: </b><font face="verdana" size="2" color="red">{{ training_hours_required }}.</font></p>
			<p align="left" style="margin-top: 25px"><b>HEI - 2019 Training Hours Completed: </b><font face="verdana" size="2" color="red">{{ training_hours_completed }} hour(s) completed.</font></p>
			<p></br>Training hours include the CAL, National LGBT Health Education Center and other approved HEI training credit hours through <b>{{ last_training_update }}</b>.</p>	
			<p></br>Facilities that need to complete the “Executive Briefing Training Requirement” will see one of the two options below:</p>
			<p style="margin-left:2em">1. <b>“0 hours completed”</b> -- Facilities that see this response either have not completed the Executive Briefing Approval form to ensure that the correct Leaders have been designated to complete the training <b>OR</b> none of the designated leaders have completed the training.</br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;If you have yet to designate the leaders that are completing this training, please complete this form as soon as possible: https://hrc.wufoo.com/forms/hei-executive-briefing-participants/</p>
			<p style="margin-left:2em">2. <b>“HAPON hours completed”</b> (or any combination of “HAPON”) -- Depending on the letters shown indicates which of your senior leaders have completed the training.</p> 
			<p style="margin-left:4em">H = Human Resources</br>
									   A = Admitting/Registration</br>
									   P = Patient Relations</br>
									   O = Organizational Leadership</br>
									   N = Nursing Management</br></p>
			<p style="margin-left:2em">For example, if your listing says, “HAP hours completed”, this means that your Human Resources, Admitting/Registration, and Patient Relations executives have completed the training. We do NOT see a training completion for Organizational Leadership (C-Suite) or Nursing.</p>
		</div>
	</body>
</html>